@import "src/styles/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  background-color: $black-color;
  color: $white-color;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.rootNotFilled {
  border: 1px solid rgb(153 169 186 / 80%);
  background-color: transparent;
  color: $blue-color;
  font-weight: normal;
}
