@import "src/styles/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 10px 12px;

  border-radius: 8px;
  background-color: $green-color;

  .text {
    margin-left: 12px;

    color: $white;

    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
  }
}

.mainRoot {
  position: absolute;
  top: calc(var(--tg-viewport-stable-height) - 42px);

  width: 100%;

  transition: top 0.2s;

  border-radius: 0;
}

.mainRootExpanded {
  position: fixed;
  top: unset;
  bottom: 0;

  transition: 0.2s;
}

.rootInline {
  height: max-content;

  color: $light-blue;
}

.rootInlineRed {
  color: $red;
}

