// Colors
$white: #fff;
$dark-white: #f8f8f8;
$black: #222;
$dark-gray: #646569;
$light-gray: rgb(153 169 186 / 12%);
$green-color: #3db378;
$red: #ed2d2f;
$light-red: rgb(237 45 47 / 10%);
$text-gray: rgb(0 0 0 / 56%);
$light-blue: #007aff;
$dark-blue: #2678b6;
$white-blue: #81afe2;
$input-box-shadow: 0 4px 8px rgb(129 175 226 / 24%), 0 0 4px rgb(129 175 226 / 64%);
$text-color: var(--tg-theme-text-color);
$background-color: var(--tg-theme-bg-color);
$hint-color: var(--tg-theme-hint-color);

