@import "src/styles/variables";

.root {
  position: absolute;

  width: 100%;

  padding: 8px 14px;

  border-top: 0.5px solid #a3a3a3;
  background-color: #f3f3f3;
}

.rootExpanded {
  position: sticky;
  bottom: 0;
}
