@import "src/styles/variables";

.root {
  position: absolute;
  top: calc(var(--tg-viewport-stable-height) - 44px);

  width: 100%;

  transition: top 0.2s;

  .button {
    border-radius: 0;
  }
}

.rootExpanded {
  position: sticky;
  bottom: 0;

  transition: bottom 0.2s;
}
