@import "src/styles/variables";

.root {
  position: relative;

  padding: 16px;

  background-color: $white;
}

.buttonWrapper {
  position: absolute;
  bottom: 0;

  width: 100%;

  padding-right: 32px;
}
