@import "src/styles/variables";

.root {
  position: relative;

  padding: 16px;

  background-color: $white;

  .buttonWrapper {
    position: absolute;

    width: 100%;
  }

  .expanded {
    bottom: -40px;
  }
}


