@import "src/styles/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 18px;

  .title {
    color: $text-color;

    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
  }

  .backButton {
    padding: 12px;
  }
}
