@import "src/styles/variables";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 18px;

  .title {
    margin-right: 16px;

    color: $text-color;

    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
  }

  .titleRevert {
    color: $light-blue;

    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
  }

  .backButton {
    padding: 12px;
  }

  .actionWrapper {
    display: flex;
    align-items: baseline;

    .buttonRevert {
      @extend .title;
    }
  }

  .actionWrapperRevert {
    flex-direction: row-reverse;
  }
}
