@use "sass:color";
@import "src/styles/variables";

.root {
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;

  border-radius: 8px;
  background-color: $light-gray;

  .search {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;

    width: 100%;

    transition: width 1s;

    border: 1px solid transparent;
    border-radius: 8px;

    img {
      display: none;
    }

    input {
      width: 100%;
      height: 100%;

      cursor: default;
      text-indent: 7px;

      border: none;
      outline: none;
      background-color: transparent;
      caret-color: $white-blue;

      &:focus {
        text-indent: 0;
      }

      &::placeholder {
        color: $hint-color;

        font-size: 16px;
        line-height: 22px;
      }
    }

    .inputWrapper {
      display: flex;
      align-items: center;

      width: 100%;
      padding: 12px;
    }

    .searchImageWrapper {
      line-height: 1;
    }

    .archiveButton {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 34%;

      transition: 1s;
      transform: translateX(0);
      white-space: nowrap;

      border: 1px solid rgb(153 169 186 / 80%);
      border-radius: 8px;
      background-color: $white;

      span {
        margin-right: 8px;
      }
    }

    .archiveHiddenButton {
      transition: 1s;
      transform: translateX(100%);
    }
  }

  .wideSearch {
    width: 100%;

    transition: width 1s;

    border: 1px solid $white-blue;
    background-color: $white;
    box-shadow: $input-box-shadow;

    input {
      text-align: left;
      text-indent: 0;

      &::placeholder {
        color: transparent;
      }
    }

    .placeholder {
      position: absolute;

      white-space: nowrap;
      pointer-events: none;

      color: $hint-color;

      font-size: 12px;
      line-height: 16px;
    }

    .crossImageWrapper {
      position: absolute;
      right: 14px;

      display: initial;

      line-height: 1;
    }
  }
}
